body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  /* background-color: #7fc7ff */
}

a {
  text-decoration: none;
  color: #000;
}

/* form {
  display: none;
} */

.site-navigation {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-weight: bold;
  line-height: 1.86;
  text-align: center;
  list-style: none;
}

.navigation:hover,
.navigation:focus {
  color: #81b3d2;
}

.navigation:active {
  color: rgba(0, 0, 0, 0.3);
}

.navigation.nav-action {
  color: #766357;
}

.welcome {
  text-align: center;
  background-image: url(../img/background-photo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 76px 0 22px 0;
  font-size: 0px;
}

.mask {
  margin-bottom: 0;
}

.welcome-heading {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
}

.numbers {
  font-size: 14px;
  font-weight: normal;
}

.reasons-list {
  list-style: none;
}

.reasons-list-img {
  list-style: none;
}

.five-reasons {
  line-height: 1.86;
  text-align: center;
  color: #333333;
}

.reason-1-2 {
  color: #ffffff;
}

.reasons {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.reasons-description {
  line-height: 1.5;
  text-align: center;
  color: #333333;
}

.reason-description-1-2 {
  color: #ffffff;
}

.interesting {
  font-size: 30px;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
}

.interesting-description {
  line-height: 1.71;
  text-align: center;
  color: #333333;
}

.housing-food-souvenirs {
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.description {
  line-height: 1.5;
  text-align: center;
  color: #333333;
}

.housing-food-souvenirs-icon {
  text-align: center;
}

.popup-button {
  background-color: #766357;
  border: 0;
  padding: 34px 139px 34px 140px;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.popup-button:hover,
.popup-button:focus {
  background-color: #604e43;
  cursor: pointer;
}

.popup-button:active {
  background-color: #503e33;
}

.popup-button:active {
  color: rgba(256, 256, 256, 0.3);
}

.search-button {
  background-color: #81b3d2;
  border: 0;
  padding: 17px 197px 22px 196px;
  font-size: 21px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

.search-button:hover,
.search-button:focus {
  background-color: #669ec0;
  cursor: pointer;
}

.search-button:active {
  background-color: #5496bd;
}

.search-button:active {
  color: rgba(256, 256, 256, 0.3);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social-list {
  list-style: none;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active .social_icon {
  opacity: 0.3;
}

.social_html .html_icon {
  fill: #231f20;
}

.social_html:hover .html_icon,
.social_html:focus .html_icon {
  fill: #81b3d2;
}

.social_html:active .html_icon {
  fill: #bdbbbc;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 156px;
}

.contacts {
  font-size: 21px;
  font-weight: bold;
  line-height: 1.24;
  text-align: center;
}

.website {
  line-height: 1.86;
  text-align: center;
}

.form {
  background-image: url(../img/background.png);
  background-size: 100%;
}

.fieldset {
  border: none;
}

.infrastructure-type {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.31;
  text-align: left;
  color: #ffffff;
}

.checkbox-name {
  color: #ffffff;
}

.form svg {
  fill: #ffffff;
  display: none;
}

.visually-hidden {
  position: absolute;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.checkbox ~ .icon-unchecked {
  display: inline;
}

.checkbox:checked ~ .icon-checked {
  display: inline;
}

.checkbox:checked ~ .icon-unchecked {
  display: none;
}

.checkbox:disabled ~ svg {
  opacity: 0.3;
}

.checkbox:focus ~ svg {
  outline: 1px solid blue;
}

.show-button {
  padding: 11px 34px;
  border: solid 2px #ffffff;
  border-radius: 2px;
  background-color: transparent;
  cursor: pointer;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.5;
}

.show-button:hover,
.show-button:focus {
  background-color: #ffffff;
 color: inherit;
} 

.sorting {
  display: flex;
  align-items: center;
}

.sort-by {
  color: rgba(0, 0, 0, 0.3);
  font-size: 12px;
  line-height: 1.5;
  text-align: left;
  border-bottom: 1px dashed #81b3d2;
}

.sort-by.active {
  color: #81b3d2;
  border-bottom: none;
  pointer-events: none;
}

.sort-by:hover,
.sort-by:focus {
  color: #81b3d2;
}

.sort-by:active {
  color: #000000;
  border-bottom: none;
}

.icon-up-down {
  fill: #cacaca;
}

.icon-up-down:hover,
.icon-up-down:focus {
  fill: #000000;
}

.icon-up-down:active {
  fill: #81b3d2;
}

.more-details {
  padding: 6px 16px;
  background-color: #81b3d2;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
}

.hostel-name:hover,
.hostel-name:focus {
  color: #81b3d2;
}

.hostel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.more-details:hover,
.more-details:focus {
  background-color: #669ec0;
}

.more-details:active {
  background-color: #5496bd;
}

.more-details:active {
  color: rgba(256, 256, 256, 0.3);
}

.reservation {
  padding: 6px 16px;
  background-color: #766357;
  font-weight: bold;
  line-height: 1.5;
  color: #ffffff;
}

.reservation:hover,
.reservation:focus {
  background-color: #604e43;
}

.reservation:active {
  background-color: #503e33;
}

.reservation:active {
  color: rgba(256, 256, 256, 0.3);
}

.rating {
  padding: 0 13px 0 16px;
  line-height: 26px;
  text-align: center;
  color: #666666;
  background-color: #f2f2f2;
}
